@import "./tokens.css";

/*─── general ──────────────────────────────────── */

* {
  border-color: var(--border);

  scrollbar-width: thin;

  & *::selection {
    background-color: var(--foreground);
    color: var(-background);
  }

  &::selection {
    background-color: var(--foreground);
    color: var(-background);
  }
}

*::-webkit-scrollbar {
  @apply w-4;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: monospace;
}

/*─── typography ──────────────────────────────────── */

p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--muted);
}
